.container {
    padding:20px 30px;
    text-align:center;
    float:left;
	width: 90%;
	margin: 20px 30px ;
	background: rgba(255, 255, 255, 0.7);
    box-shadow: 5px 5px #14BBB3;
    color:rgb(8, 91, 142);
    border-radius: 15px;
}

.top-right{
    position: absolute;
    top: 20px;
    right: 80px;
}